.Gallery-spotlight{
  position: relative;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 600px;
  box-shadow: 0 0 5px;
}

.Gallery-navigations .glyphicon {
  top: 50%;
  font-size: 25px;
  color: #333;
  padding: 0 10px;
}

.Gallery-leftNavigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 10px 0 0 10px;
}

.Gallery-rightNavigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 0 10px 10px 0;
}

.Gallery-imageWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.Gallery-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Gallery-caption {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
}

.Gallery-thumbnails {
  margin: 30px 0;
  border-radius: 10px;
  background: #f5f5f5;
  padding: 10px;
  box-shadow: 0 0 5px inset;
}

.Gallery-thumbnails:after {
  content: "";
  display: table;
  clear: both;
}

.Gallery-thumbnail {
  position: relative;
  float: left;
  width: 20%;
  border: 10px solid transparent;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.Gallery-thumbnail:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.Gallery-thumbnail:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.Gallery-thumbnail--selected {
  border: 5px solid transparent;
  border-radius: 15px;
}

.Gallery-thumbnail--selected:hover {
  -webkit-transform: none;
  transform: none;
}

.Gallery-thumbnail--selected .Gallery-thumbnailImage {
  border: 5px solid #333;
}

.Gallery-thumbnailImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Gallery-thumbnailImage {
  height: 100%;
  border-radius: 10px;
}
