<div class="MediaGallery">

  <div class="MediaGallery-spotlight">

    <div class="MediaGallery-navigations">
      <div class="MediaGallery-leftNavigation" ng-click="previous()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </div>
      <div class="MediaGallery-rightNavigation" ng-click="next()">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    </div>

    <div class="MediaGallery-imageWrapper" ng-if="type === 'image'">
      <img class="MediaGallery-image" ng-src="{{ currentMedia.url }}"/>
    </div>

    <div class="MediaGallery-videoWrapper" ng-if="type === 'video'">
      <iframe class="MediaGallery-video" id="ytplayer" type="text/html"
              ng-src="{{ currentMedia.url | trustAsResourceUrl }}">
      </iframe>
    </div>

    <div class="MediaGallery-caption">{{ currentMedia.caption }}</div>

  </div>

  <div class="MediaGallery-thumbnails">

    <div class="MediaGallery-thumbnail"
         ng-repeat="media in mediaList"
         ng-click="show($index)"
         ng-class="{ 'MediaGallery-thumbnail--selected': media === currentMedia }">
      <div class="MediaGallery-thumbnailImageWrapper">
        <img class="MediaGallery-thumbnailImage" ng-src="{{ media.thumbnailUrl }}" title="{{ media.caption }}">
      </div>
    </div>

  </div>

</div>
