<div class="Header">
  <div class="Header-contents">

    <div class="Header-brand">Çınar Atilla</div>

    <div class="Header-navigations">
      <div class="Header-navigation">
        <a class="Header-link" ui-sref-active="active" ui-sref="home">Home</a>
      </div>
      <div class="Header-navigation">
        <a class="Header-link" ui-sref-active="active" ui-sref="performances">Performances</a>
      </div>
      <div class="Header-navigation">
        <a class="Header-link" ui-sref-active="active" ui-sref="recordings">Recordings</a>
      </div>
      <div class="Header-navigation">
        <a class="Header-link" ui-sref-active="active" ui-sref="photos">Photos</a>
      </div>
      <div class="Header-navigation">
        <a class="Header-link" ui-sref-active="active" ui-sref="contact">Contact</a>
      </div>
    </div>

    <div class="Header-toggle">
      <button type="button" class="Header-button" ng-click="toggleMenu()">
        <span class="Header-buttonIcon glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </div>

    <div class="Header-menu" ng-if="showMenu">
      <ul class="Header-menuList">
        <li class="Header-menuItem" ui-sref-active="active">
          <a class="Header-menuLink" ng-click="toggleMenu()" ui-sref="home">Home</a>
        </li>
        <li class="Header-menuItem" ui-sref-active="active">
          <a class="Header-menuLink" ng-click="toggleMenu()" ui-sref="performances">Performances</a>
        </li>
        <li class="Header-menuItem" ui-sref-active="active">
          <a class="Header-menuLink" ng-click="toggleMenu()" ui-sref="recordings">Recordings</a>
        </li>
        <li class="Header-menuItem" ui-sref-active="active">
          <a class="Header-menuLink" ng-click="toggleMenu()" ui-sref="photos">Photos</a>
        </li>
        <li class="Header-menuItem" ui-sref-active="active">
          <a class="Header-menuLink" ng-click="toggleMenu()" ui-sref="contact">Contact</a>
        </li>
      </ul>
    </div>

  </div>
</div>



